<div class="{{_id}} comment-container clearfix border border-gray rounded">
    <div>{{title}}</div>
    <div class="float-left">{{{body}}</div><button type="button" class="close remove float-right" aria-label="Close" id={{_id}}>X</button>
    <br>
</div>