<divclass= "row">
    <h1>Reddit Scraper</h1>
    <a href="/scrape" class="btn btn-primary ">Get Articles</a>
</div>
<div id="articleBlock" class="clearfix">
    
    <div id="listBlock">
        {{#each articles}}
        {{> articles/article}}
        {{/each}}

    </div>
</div>
<div class='create-block'>

</div>